[submodule "regression_tests"]
	path = sw/regression_tests
	url = https://github.com/pulp-platform/regression_tests.git
[submodule "sw/efcl2026"]
	url = https://github.com/FondazioneChipsIT/efcl_exercises.git
	path = sw/efcl2026
[submodule "sw/pulp-runtime"]
	url = https://github.com/FondazioneChipsIt/pulp-runtime.git
	path = sw/pulp-runtime
